# # # # # # #
#  Database #
# # # # # # #

# Impostare il db da usare 
# MySQL
# SQLite (default)
db_type: "sqlite"

# Connessione al database
connect_db:
    
    # Connessione a un database mysql
    # La tabella si ritroverà nel database dell'utente configurato sotto il
    # nome di PearRewards
    mysql:
        username: "username"
        password: "password"
        database: "database"
        
    # Connessione a un database sqlite (default)
    # Il database si ritroverà in plugin/PearRewards/nomedb.db
    # Nel caso non esista, verrà creato in automatico all'avvio del plugin
    sqlite:
        database: "pearrewards.db"

# # # # # # # # # # # #
# Interfaccia grafica #
# # # # # # # # # # # #

# Imposta il tipo di gui
# chest (default): A forma di chest
# daily: Ogni elemento caratterizza un giorno per i rewards
guy_type: "chest"

#  Messaggi di notifica 
notify_message: "Hai un daily rewards, vallo a riscattare!"
empty_message: "Fai spazio nel tuo inventario!"
used_rewards: "Hai già riscattato il tuo rewards!"

# # # # # # # # # # #
# Lista dei rewards #
# # # # # # # # # # #

# Numero di giorno:
#     Elemento (id dell'elemento)
#     Quantità (numero)
#     Comando  (comando per il give)
#
# Il comando per i give deve contenere questi parametri
# %p% : Player
# es: give %p% element quantity
#     give Utente minecraft:coal 10
rewards:
    1: 
        give_command: "give %p% minecraft:coal 10"
    2:
        give_command: "give %p% minecraft:iron_ingot 7"
    3:
        give_command: "give %p% minecraft:gold_ingot 7"
    4:
        give_command: "give %p% minecraft:redstone 6"
    5:
        give_command: "give %p% minecraft:lapis_lazuli 4"
    6:
        give_command: "give %p% minecraft:diamond 2"
    7:
        give_command: "give %p% minecraft:emerald 1"